<%- include('header') -%>
    <div class="box">
            <% itemsh.forEach((itm) => { %>
                <div class="item">
                    <input type="checkbox">
                    <p> <%= itm %> </p>
                </div>
            <% }); %>

            <form action="/" method="post" class="item">
                <input type="text" name="newItem" placeholder="New Item" autofocus autocomplete="off">
                <button type="submit" name="button" value="<%= listTitle %>">+</button>
            </form>
    </div>
<%- include('footer') -%>