* {
    margin: 0%;
    /*padding: 0%;
    border: 0%;
    height: 0%;
    width: 0%; */
}

body {
    background-color: #F9F7F7;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #112D4E;
    line-height: 2;
}

hr {
    border: dotted #3F72AF 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #112D4E;
    margin: 100px 0 auto 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #112D4E;
    font-weight: normal;
    line-height: 2;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3F72AF;
}

a {
    color: #3F72AF;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #DBE2EF;
}

.top-container {
    background-color: #3F72AF;
    position: relative;
    padding-top: 10px;
}

.middle-container {
    background-color: #DBE2EF;
    padding: 100px 0;
}

.disp-img1 {
    height: 180px;
    width: 180px;
    float: left;
    margin-right: 30px;
}

.disp-img2 {
    height: 180px;
    width: 180px;
    float: right;
    margin-right: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.bottom-container {
    background-color: #112D4E;
    padding: 50px 0 20px;
}

.every {
    text-decoration: underline;
}

img {
    display: inline-block;
}

#tp-cld {
    position: absolute; 
    right: 300px;
    top: 50px;
}

#btm-cld {
    position: absolute;
    left: 300px;
    bottom: 300px;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }